/* Importar Nueva hoja de estilos solo para los botones */
@import "./buttons.css";
body {
  background-color: #2dc9d1;
  font-family: Arial, Helvetica, sans-serif;
}
.player {
  margin-block-start: 100px;
  position: relative;
}
.player video {
  inline-size: 100%;
  border: 6px double white;
  aspect-ratio: 16/9;
  vertical-align: middle;
  object-fit: cover;
} 
.wrapper {
  max-inline-size: 950px;
  margin: auto;
}
/* Titulo superior del Video */
.player-title {
  color: white;
  position: absolute;
  inset-block-start: 0px;
  inset-inline-start:22px;
  margin-top: 20px;
  font-size: 18px;
  font-family: Verdana;
}
/* Botones del Video */
.player-buttons {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/* Barra de De Progreso-Video */
.player-progress {
/*Para posicionarlo encima del video*/
  position: absolute;
/*Para posicionarlo justo en la parte inferior del video*/
  inset-block-end: 0;
/*La barra ocupe todo el ancho del video*/
  inset-inline: 0;
/*Permite dar un flex al input para que la barra ocupe todo el video*/
  display: flex;
  padding: 10px;
}
.player-progress input {
  flex: 1;
}

.player-overlay {
  opacity:0;
  position: absolute;
  inset: 0;
  transition: .4s opacity;
}
.player:hover .player-overlay{
  opacity: 100%;
}
.elipse {
  position: absolute;
  width: 250.62px;
  height: 250.91px;
  left: 100px;
  top: 468px;
  border: 28.642px solid rgba(0, 0, 0, 0.20);
  box-sizing: border-box;
  border-radius: 50%;
  z-index: 4;
}
.elipse_2 {
  position: absolute;
  width: 300.62px;
  height: 300.91px;
  left: 1167px;
  top: 208px;
  border: 28.642px solid rgba(0, 0, 0, 0.20);
  box-sizing: border-box;
  border-radius: 50%;
}
